Repository oyepriyansh/DevTweet, pull requests merged in 2023-10, with the labels that each got.

#72 feat: new post by Sushannt
  public/authors/sushannt.png
  src/content/posts/roadmap-to-mern-stack.md
  src/util/authors.ts
Labels: New Post, hacktoberfest-accepted

#78 Create how-java-works.md [Completed hacktober fest issue]
  src/content/posts/whatisJava.md
  src/how-java-works.md
Labels: New Post, hacktoberfest-accepted

#83 happy hacking
  public/authors/supriadi.jpg
  src/content/posts/what-is-golang.md
  src/util/authors.ts
Labels: New Post, hacktoberfest-accepted

#86 Added animation to theme toggle component
  src/components/ThemeToggle.tsx
Labels: wait for reviewers

#91 Fixed nav bar theme switch Moon icon disapperance after a reload
  src/components/ThemeToggle.tsx
Labels: wait for reviewers

#90 The create post button is now available in posts page
  src/layouts/PostLayout.astro
Labels: hacktoberfest-accepted

#94 feat(frontend): Home Page
  src/pages/index.astro
Labels: hacktoberfest-accepted

#95 feat: add post by william-monroy
  public/authors/william-monroy.jpg
  src/content/posts/what-is-javascript.md
  src/util/authors.ts
Labels: New Post, hacktoberfest-accepted

#96 Added author & a post
  src/content/posts/test-tweet-shahnawaz.md
  src/util/authors.ts
Labels: New Post, hacktoberfest-accepted

#101 Fixed Enhancement #97
  src/layouts/PostLayout.astro
  src/pages/authors/[author].astro
  src/pages/posts/index.astro
Labels: hacktoberfest-accepted

#106 my blog post regarding motivation for jr devs
  src/content/posts/Jr-Motivation.md
  src/util/authors.ts
Labels: New Post, wait for reviewers

#109 Added Footer in all the Components
  src/pages/authors/index.astro
  src/pages/index.astro
  src/pages/posts/index.astro
Labels: hacktoberfest-accepted

#108 feat: add post by azeen3003
  public/authors/azeen3003.jpeg
  src/content/posts/future-of-data-science.md
  src/util/authors.ts
Labels: New Post, hacktoberfest-accepted

#105 add new post: how to create rest-api in golang
  public/authors/bangadam.jpeg
  src/content/posts/how-to-add-a-new-post.md
  src/content/posts/how-to-create-rest-api-in-golang.md
  src/util/authors.ts
Labels: New Post, hacktoberfest-accepted

#113 Added border to Post and Author components to improve UI
  src/components/Author.astro
  src/components/Post.astro
Labels: wait for reviewers

#116 Add Divya4879 post PR
  public/authors/Divya4879.jpg
  public/authors/cute girl.png
  src/content/posts/hello.md
  src/util/authors.ts
Labels: New Post, hacktoberfest-accepted

#115 fixed author page
  src/pages/authors/index.astro
Labels: hacktoberfest-accepted

#119 feat: added a react file; Explains more about react
  public/authors/jmngandu.jpg
  src/content/posts/what-is-reactjs.md
  src/util/authors.ts
Labels: New Post, hacktoberfest-accepted

#118 Add : Intro.md in Post Section
  public/authors/YashkShrivas4491.jpg
  src/content/posts/Intro.md
  src/util/authors.ts
Labels: New Post, hacktoberfest-accepted

#111 added myself & a post
  public/authors/rudy3333.jpg
  src/content/posts/numbers-in-python.md
  src/util/authors.ts
Labels: New Post, hacktoberfest-accepted

#122 Create Post by Maida
  src/content/posts/Creating-a-simple-webpage.md
  src/util/authors.ts
Labels: New Post, hacktoberfest-accepted

#128 feat: navbar position updated to sticky
  src/components/Header.astro
Labels: hacktoberfest-accepted

#130 Fix: Bug #127
  src/pages/authors/index.astro
Labels: hacktoberfest-accepted

#131 Fixed: Header/Navigation overflow with Text.
  src/components/Header.astro
Labels: hacktoberfest-accepted

#133 feat: add post by Siddharth1006
  public/authors/Siddharth1006avatar.jpeg
  src/content/posts/create_spring_boot_application.md
  src/util/authors.ts
Labels: New Post, wait for reviewers

#117 feat: add button scroll on top in post page
  src/layouts/PostLayout.astro
  src/styles/global.css
Labels: wait for reviewers

#139 Fix: Icon and text color are different on hovering
  src/components/Header.astro
Labels: wait for reviewers

#140 feat: add post by rizzabh
  public/authors/rizzabh.jpg
  src/content/posts/learning-astro.md
  src/util/authors.ts
Labels: invalid, New Post, wait for reviewers

#149 Younusk dev hacktoberfest
  public/authors/younusk.jpg
  src/content/posts/younusk.md
  src/util/authors.ts
Labels: New Post, wait for reviewers

#150 feat: add angular post by grand-rick001
  public/authors/grand-rick001.png
  src/content/posts/what-is-angular.md
  src/util/authors.ts
Labels: New Post

#155 Error 404 Page
  public/images/ErrorPage404-03.webp
  src/pages/404.astro
Labels: wait for reviewers

#161 Fix: Post feature merging on hovering
  src/pages/authors/index.astro
  src/pages/index.astro
  src/pages/posts/index.astro
Labels: wait for reviewers

#162 update Post no of Azzen3003
  src/util/authors.ts
Labels: wait for reviewers

#165 New Post by Zemerik
  src/content/posts/hello-developers.md
  src/util/authors.ts
Labels: New Post, wait for reviewers

#167 New Post by Zemerik
  public/authors/zemerik.png
  src/content/posts/Discord bot.md
Labels: New Post, wait for reviewers

#168 fix: updated the text format along with hover effect on list
  src/pages/index.astro
Labels: wait for reviewers

#169 feat: add post by adi-ray
  public/authors/adi-ray.jpg
  src/content/posts/netflix-agorithm.md
  src/util/authors.ts
Labels: New Post, wait for reviewers
